table {
 border:3px solid #808080;
 border-collapse:collapse;
 width:100%;
 font:normal 12px verdana, arial, helvetica, sans-serif;
 margin:auto;
}

caption {
 border:1px solid #FF4500;
 color:#FF4500;
 font-weight:bold;
 letter-spacing:20px;
 padding:6px 4px 8px 0px;
 text-align:center;
 text-transform:uppercase;
}

thead th, tfoot th { 
 background:#808080;
 color:#FFFFFF;
 padding:3px 10px 3px 10px;
 text-align:center;
 text-transform:uppercase;
}

td, th {
 color:#000000;
 padding:.4em;
}

tbody th, tbody td { 
 text-align:left;
 vertical-align:top;
 border:1px solid #808080;
}

tbody th a {
 color:#FF0000;
 font-weight:normal;
 text-decoration:none;
}

tbody th a:hover {
 color:#FF0000;
}

tr {
 border:1px dotted #FF4500;
}

tbody tr:hover {
 background:#FFF5EE;	/* light pink */
 border:1px solid #03476F;
 color:#000000;
}

tbody td a { 
 color:#FF0000;
 text-decoration:none;
}

tbody td a:hover {
 text-decoration:underline;
}

tbody td a:visited {
 color:#FF0000;
 text-decoration:line-through;
}

.odd {
 background:#fff;
}

tfoot td {
 background:#FFFFFF;
 color:#FFFFFF;
 padding-top:3px;
}



